@import url(https://fonts.google.com/specimen/Chocolate+Classical+Sans);

/* Variáveis */
:root {
   background-color: rgba(114, 4, 68, 0.747);
   text-decoration-color: rgb(255, 255, 255);
   justify-items: center;
}

#pq{
    background-color: rgb(233, 221, 184);
}

#qnd {
    background-color:rgb(233, 221, 184);
}

#eql {
    background-color: rgb(233, 221, 184);
}

#eul {
    background-color: rgb(233, 221, 184);
}

ul a {
    color: rgb(253, 253, 253);
    text-decoration: none;
}

nav ul {
    display:flex;
    align-items: flex-start;
}

nav ul li {
    list-style-type: none;
    padding: 1rem;
 }



 header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 p {
    color: rgb(194, 135, 9);
 }

 h1 {
    color: rgba(252, 252, 252, 0.801)
    
 }

 h2 {
    color: rgb(185, 82, 177);
 }

 h3 {
    color: rgb(224, 57, 158);
 }
 
 li {
    color: rgb(160, 111, 4, 0.726);
 }

 section {
    display: grid;
    place-items: center
    align-items: center
    min-heught: 100vh;

 }
    
 
 